.breed-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    h2,
    h1 {
        text-align: center;
    }

}

.header-image {
    margin-bottom: 1rem;
}