{% extends 'app_breed_finder/base.html' %}

{% block content %}

<h1>BreedFinder</h1>
<h2>Mes races préférées</h2>
<ul>
    {% for breed in breeds %}
    <li>{{ breed.name}}</li>
    {% if breed.profile_picture %}
    <img src="{{ breed.profile_picture.url }}" width="300">
    {% endif %}
    {% endfor %}
</ul>
<h2>Trouve la race à partir d'une photo</h2>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="tester">
</form>
{% for breed in breeds_predicted %}
<h3>{{ breed.name }}</h3>
<p>{{ breed.origin }}</p>
{% endfor %}

{% endblock %}