{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BreedFinder</title>
    <link rel="stylesheet" href="{% static 'app_breed_finder/styles/styles.css' %}">
    <script src="{% static 'app_breed_finder/scripts/script.js' %}" defer></script>
</head>

<body>
    <h1>BreedFinder</h1>
    <h2>Mes races préférées</h2>
    <ul>
        {% for breed in breeds %}
        <li>{{ breed.name}}</li>
        {% if breed.profile_picture %}
        <img src="{{ breed.profile_picture.url }}" width="300">
        {% endif %}
        {% endfor %}
    </ul>
    <h2>Trouve la race à partir d'une photo</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="tester">
    </form>
</body>

</html>